{
  "extends": "airbnb",

  "rules": {
    "indent": [2, 4],
    "padded-blocks": "off",
    "max-len": [2, 120, 4, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "react/no-find-dom-node": "warn",
    "react/jsx-indent-props": [2, 4],
    "react/jsx-indent": [2, 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "space-before-function-paren": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}],
    "jsx-a11y/no-static-element-interactions": "off"
  },

  "env": {
    "browser": true,
    "mocha": true
  }
}
