@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body,
#root {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
