{
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babylon"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
